<% include ../partials/head %>
    <% include ../partials/sidebar %>
        <div class="col-md-10 col-md-offset-2 content">

            <h1>
                TELOS REGISTRADOS
            </h1>

            <div class="panel-group">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="color:#fff !important;">
                            <a data-toggle="collapse" href="#collapse1">Nuevo Telo <span class=" glyphicon glyphicon-chevron-down "></span></a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <form action="/nuevo/1" method="post" style="padding:10px;" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Nombre del Lugar: </label>
                                <input type="text" class="form-control" name="titulo" />
                            </div>

                            <div class="form-group" style="display:none;">
                                <label>Autor:</label>
                                <input type="text" id="disabledTextInput" class="form-control" name="autor" value="<%= user.local.username %>" />

                            </div>

                            <div class="form-group" style="display:none;">
                                <label>Foto Perfil: </label>
                                <input type="text" id="disabledTextInput" class="form-control" name="fotoperfil" value="<%= user.local.foto %>" />
                            </div>

                            <div class="form-group">
                                <label>Teléfono:</label>
                                <input type="text" class="form-control" name="telefono" />
                            </div>

                            <div class="form-group">
                                <label>Tarifas:</label>
                                <input type="text" class="form-control" name="tarifas" />
                            </div>

                            <div class="form-group">
                                <label>Dirección:</label>
                                <input type="text" class="form-control" name="descripcion" maxlength="120" />
                            </div>

                            <div class="form-group">
                                <label>¿Destacado?</label><br>
                                <select name="destacados">
                                            <option value="destacados">Telo Destacado</option>
                                            <option value="no_destacado">No Destacado</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Provincia: </label><br>
                                <select name="provincias">
                                                <option value="Buenos Aires">Buenos Aires</option>
                                                <option value="Santa Fe">Santa Fe</option>
                                                <option value="Cordoba">Cordoba</option>
                                    </select>
                            </div>

                            <div class="form-group">
                                <label>Servicios: </label><br>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" name="servicios" value="WIFI"> WiFi
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" name="servicios" value="TV Satelital"> TV Satelital
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" name="servicios" value="Servicio a la habitacion"> Servicio a la habitacion
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" name="servicios" value="DVD"> DVD
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" name="servicios" value="Estacionamientos individuales"> Estacionamientos individuales
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" name="servicios" value="Señal para adultos"> Señal para adultos
                                </label>
                            </div>

                            <div class="form-group">
                                <label>Iframe Mapa:</label>
                                <input type="text" class="form-control" name="iframe" />
                            </div>

                            <div class="form-group">
                                <label>Latitude:</label>
                                <input type="text" class="form-control" name="latitude" />
                            </div>

                            <div class="form-group">
                                <label>Longitude:</label>
                                <input type="text" class="form-control" name="longitude" />
                            </div>

                            <div class="form-group">
                                <label>Subir Foto (Máx. 2MB):</label>
                                <input class="form-control" style="border:none !important; background:none; box-shadow:none !important; padding:0px !important;" type="file" name="fotoproducto" />
                            </div>

                            <button type="submit" class="btn btn-success">Guardar</button>

                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive" style="padding-top:20px; padding-bottom:20px;">
                <table class=" table table-bordered">
                    <thead>
                        <tr>
                            <!--<th>ID</th>-->
                            <th>NOMBRE DEL LUGAR</th>
                            <th>PUBLICADO POR</th>
                            <th>DIRECCIÓN</th>
                            <th style="text-align:center !important;">HERRAMIENTAS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(person.length>0){%>
                            <% for(var i=0; i<person.length; i++) {%>
                                <tr>
                                    <!--<td>

                                <%= person[i].id %>
                                    </a>
                            </td>-->
                                    <td>
                                        <%= person[i].titulo %>
                                    </td>
                                    <td>
                                        <%= person[i].autor %>
                                    </td>

                                    <td>
                                        <%= person[i].descripcion %>
                                    </td>

                                    <td style="text-align:center !important;">
                                        <a href="http://localhost:3000/producto/<%= person[i].id %>" type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                                        <a href="http://localhost:3000/editar/<%= person[i].id %>" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="http://localhost:3000/delete/<%= person[i].id %>" type="button" class="btn btn-success btn-xs" style="background:red !important;"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>

                                </tr>
                                <% } %>
                                    <%} else {%>
                                        <p class="alert alert-warning">No hay Registro!</p>
                                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="row" style="text-align:center !important;">
                <!-- pagination -->
                <% if(pages > 0) { %>
                    <!-- show pagination if there is pages -->
                    <nav class="mx-auto">
                        <ul class="pagination">
                            <!-- FIRST ITEM -->
                            <% if(current == 1) { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Primera Página</a>
                                </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/nuevo/1">Primera Página</a>
                                    </li>
                                    <% } %>
                                        <!-- ITEMS  -->
                                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                            <% if(i !== 1) { %>
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                                <% } %>
                                                    <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                        <% if(i == current) { %>
                                                            <li class="page-item active">
                                                                <a class="page-link" href="<%= i %>">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } else { %>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="/nuevo/<%= i %>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#">...</a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% } %>
                                                                                <!-- LAST ITEM -->
                                                                                <% if(current == pages) { %>
                                                                                    <li class="page-item disabled">
                                                                                        <a class="page-link" href="#">
                                                                                                Última Página
                </a>
                                                                                    </li>
                                                                                    <% } else { %>
                                                                                        <li class="page-item">
                                                                                            <a class="page-link" href="/nuevo/<%= pages %>">
                                                                                                Última Página
                </a>
                                                                                        </li>
                                                                                        <% } %>
                        </ul>
                    </nav>
                    <% } %>
            </div>
        </div>
        <% include ../partials/pie %>